.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex: 1;
  padding-top: 20px;
  margin-left: 10vw;
  margin-right: 10vw;
}

@media (max-width: 768px) {
  .app-main {
    padding-top: 28px;
  }
}

